<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand p-0 mr-0" routerLink="" routerLinkActive="active">
      <img src="../../assets/site-logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="input-box">
        <input type="text" name="search" placeholder="Search..." />
        <span class="search">
          <img src="../../assets/search-icon.png" alt="">
        </span>
        <img class="close-icon" src="../../assets/close-icon.png" alt="">
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-0" routerLink="/player" routerLinkActive="active">Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" routerLink="/sehdule" routerLinkActive="active">Sehdule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" routerLink="/setting" routerLinkActive="active">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0" routerLink="/logout"  routerLinkActive="active">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
